autoflake
allennlp
chardet
cython
dataclasses-json
elasticsearch
fast-pagerank
fasttext
gitpython
jsondict
jsonschema
jupyter
networkx
nltk
numpy
pandas>=0.25.0
PuLP
pyspark
pytest
sklearn
spacy
spherecluster
tensorflow
tensorflow-probability
tqdm
watchdog
