autoflake
allennlp
chardet
cython
dataclasses-jsonschema[fast-validation]
elasticsearch
faiss==1.5.3
fast-pagerank
fasttext
flake8
flake8-mypy
gitpython
jsondict
jsonschema
jupyter
mypy
networkx
nltk
numpy
pandas>=0.25.0
PuLP
pyspark
pytest
sklearn
spacy
spherecluster
tensorflow
tensorflow-probability
tqdm
watchdog
