allennlp
cython
dataclasses-jsonschema[fast-validation]
elasticsearch
faiss==1.5.3
fast-pagerank
fasttext
gitpython
jsondict
jsonschema
jupyter
networkx
nltk
numpy
pandas>=0.25.0
pyspark
pytest
sklearn
spacy
spherecluster
tensorflow
tensorflow-probability
tqdm
watchdog
